body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
 }
 h1{
    font-size: 50px;
 }
 h2{
    font-size: 40px;
 }
 .color-pink{
    color: #ec4e8d;
 }
 p{
    color: dimgray;
 }
 .half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
 }
 .half-width img{
    width: 100%;
 }
 .link-button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, #fa5e9c, #ec005f);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
 }
 section{
    padding-top: 4%;
 }
 .top-section{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
 }
 .sec-p{
    margin-top: 8%;
 }
.bio-section{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.work-section{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
#work-text{
    text-align: center;
}
#my-work{
    display: flex;
    justify-content: center;
    align-items: center;

}
.work-list{
    width: 20%;
    float: left;
    margin: 1%;
}
.work-list img{
    width: 100%;
}
.openion-section{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 800px;
}
#email{
    background-image: linear-gradient( 45deg, #fa5e9c, #ec005f);
    height: 100px;
    width: 40%;
    margin: 5% 30% 0% 30%;
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
footer p{
    text-align: center;
    font-size: 12PX;
}